<nav class="navbar">
    <div class="logo">
        <a href="/index.html">
            <img src="/assets/img/icono.png" alt="Logo Laberinto" class="nav-icon">
        </a>
    </div>
    <ul class="nav-links">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Prácticas</a>
            <div class="dropdown-content">
                <a href="/html/practica1.html">Práctica 1</a>
                <a href="https://gdie2607.ltim.uib.es/blockchain/">Práctica 2</a>
                <a href="/html/sala-selector.html">Práctica 3</a>
            </div>
        </li>
        <li><a href="/#sobre-nosotros">Sobre Nosotros</a></li>
    </ul>
</nav>
